<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="jquery-3.3.1.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="allScripts.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    
    <!-- script for search bar -->
      <script>
  $( function() {
    var availableTags = [
      {% for n in names %}"{{n}}",{% endfor %}
    ];

    $( "#searcho" ).autocomplete({
      source: availableTags,
      select: function( event, ui ) {
        $.ajax({
          type: 'POST',
          cache: false,
          url: '/getFormAfterSearch',
          data: {
            vendorString: ui.item.value
          },
          success: function(result){
            console.log(result);
            document.getElementById("cardNo").value = result['cardNo'];
            document.getElementById("vendorName").value = result['vendorName'];
            document.getElementById("inputProduct").value = result['item'];
            document.getElementById("vendorRate").value = result['vendorRate'];
            document.getElementById("inputAddress1").value = result['inputAddress1'];
            document.getElementById("inputAddress2").value = result['inputAddress2'];
            document.getElementById("inputCity").value = result['inputCity'];
            document.getElementById("inputState").value = result['inputState'];
            document.getElementById("inputZip").value = result['inputZip'];
          }
        })
      }
    });
  });
  </script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mayur's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vendors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/addVendors">Add</a>
          <a class="dropdown-item" href="/updateVendors">Update</a>
          <a class="dropdown-item" href="/deleteVendors">Delete</a>
        </div>
      </li>




      <li class="nav-item">
        <a class="nav-link" href="/generateBill">Generate Bill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/allTransactions">All Transactions</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input id="searcho" type="search" placeholder="Search" aria-label="Search">
    </form> -->
    <input id = "searcho">
  </div>
</nav>

  
    {% block main %}{% endblock %}

    
  </body>
</html>